<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sobre</title>
</head>
<body>
    <div class="container">
        <h1>Sobre a Biblioteca</h1>
        <p>Este sistema foi criado para aluguel e registro de livros online.</p>
        <p>Aqui você pode navegar pelo nosso catálogo, alugar livros disponíveis e, se for administrador, adicionar novos títulos ao acervo.</p>
        
        <div style="margin-top: 30px;">
            <a href="/" class="button">Voltar</a>
        </div>
    </div>
</body>
</html>